CLANG_ENABLE_MODULES = YES
CODE_SIGN_STYLE = Automatic
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INFOPLIST_FILE = SGNetworkClient/Info.plist
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.grubysolutions.SGNetworkClient
PRODUCT_NAME = SGNetworkClient
SKIP_INSTALL = YES
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2

IPHONEOS_DEPLOYMENT_TARGET = 13.0
